<html>
  <head>
    <title>{{ title }} - Joe's Own Editor</title>
    <link rel="icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content="Joe's Own Editor {{ description or title }}"></meta>
    <link rel="stylesheet" href="/css/main.css">
    <style>
    {% getBundle "css" %}
    </style>
    {% getBundle "css", "defer" %}
  </head>
  <body style="padding-top:70px">
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Joe's Own Editor</a>
        
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="downloadsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download</a>
              <ul class="dropdown-menu" aria-labelledby="downloadsDropdown">
                <li><a class="dropdown-item" href="{{ versions.info[versions.latestUnix].downloads.unix }}">JOE {{ versions.latestUnix }} source</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ versions.info[versions.latestWindows].downloads.windows }}">JOE for Windows {{ versions.latestWindows }}</a></li>
                <li><a class="dropdown-item" href="{{ versions.info[versions.latestWindows].downloads.windowsSrc }}">JOE for Windows {{ versions.latestWindows }} source</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/{{ versions.latestUnix }}/man.html">User Manual</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/NEWS.html">Changelog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="releasesDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Releases</a>
              <div class="dropdown-menu" aria-labelledby="releasesDropdown">
  {% for v in versions.versions %}
                <a class="dropdown-item" href="/{{ v }}/">{{ v }}</a>
  {% endfor %}
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hacking.html">Hacking Guide</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/history.html">History</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="projectsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Project</a>
              <ul class="dropdown-menu" aria-labelledby="projectsDropdown">
                <li><a class="dropdown-item" href="https://sourceforge.net/p/joe-editor">Project at SourceForge</a></li>
                <li><a class="dropdown-item" href="https://github.com/joe-editor/joe/">Source on GitHub</a></li>
                <li><a class="dropdown-item" href="https://github.com/joe-editor/joe/issues">Issue tracker</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="https://sourceforge.net/p/joe-editor/news/">Announcements</a></li>
                <li><a class="dropdown-item" href="https://sourceforge.net/p/joe-editor/discussion/">Discussion Page</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="https://sourceforge.net/projects/joe-editor/files/">Downloads</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

{{ content | safe }}

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    {% getBundle "js", "defer" %}
    <script>
    const updateNavbarHeight = () => {
      // Measure navbar height
      const navbar = document.querySelector('.navbar');
      if (navbar) {
        document.documentElement.style.setProperty("--navheight", `${navbar.offsetHeight}px`);
      }
    };

    window.addEventListener('DOMContentLoaded', updateNavbarHeight);
    window.addEventListener('resize', updateNavbarHeight);
    {% getBundle "js" %}
    </script>
  </body>
</html>
