<%- include('./header.ejs', {versions: versions, title: "Hacking Guide", description: "Joe's Own Editor Hacking Guide"}) -%>
<div class="container">
  <%- content -%>
</div>
<%- include('./footer.ejs') -%>
