<html>
  <head>
    <title><%= title %> - Joe's Own Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content="Joe's Own Editor <%- description || title %>"></meta>
    <!-- inject:css -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- /inject:css -->
  </head>
  <body>
    <!-- Navigation bar -->
