<%- include('./header.ejs', {versions: versions, title: "Windows tips", description: "Joe's Own Editor Windows tips"}) -%>
<div class="container">
  <%- content -%>
</div>
<%- include('./footer.ejs') -%>
